@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Licorice&family=Ruthie&family=WindSong:wght@400;500&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  color: white;
 
}


#licorice-regular {
    font-family: "Licorice", cursive;
    font-weight: auto;
    font-style: normal;
  }
  

.background-img-sec{
    background-color: black;
}

/* Header Section */

/* navbar section */

header{
    padding-top: 57px;
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%), rgb(34, 34, 34);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    gap: 463px;
    flex-direction: row;
}

nav > .nav-logo{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    text-align: left;
    font-style: italic;
}

.nav-options{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .nav-options > ul{
    display: flex;
    flex-direction: row;
    gap: 47px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    transition: all 0.2s;
    
}

nav a:hover, li:first-child a{
    background: rgb(230, 83, 60);
    transition: all 0.2s;
}


.bars{
    display: none;
}

/* banner section */

#Home{
    background: linear-gradient(0deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%), rgb(34, 34, 34);
    display: flex;
    justify-content: center;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 257px;
    margin-left: -73px;
    justify-content: center;
}

.head{
    width: 520px;
    margin-top: 65px;
    margin-bottom: 60px;
}

.head p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    
    margin-top: 28px;
    margin-bottom: 28px;
}

.head h1 {
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    color: white;
}

.btns{
    display: flex;
    gap: 14px;
    flex-direction: row;
}

.btns a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
}

.btn1{
    background: rgb(230, 83, 60);
}

.btn2{
    background: none;
    border: 1px solid white;
}



#box-1, 
#box-2{
    position: absolute;
    
    border: none;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

#box-1{
    width: 193px;
    height: 98px;
    left: 230px;
    top: 125px;
}

#box-1 h1{
    color: white;
    font-size:2.5rem ;
    font-weight: 900;
}

#box-1 > div{
    margin-top: 17px;
    margin-left: 24px;
    
}

#box-2{
    width: 206px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    top: 421px;
    right: 256px;
}

#box-2 > div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#box-2 h1{
    color: white;
    font-size: 1.75rem;
    font-weight: 900;
}

#box-2 > div div:first-child{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
}


.img_text{
    position: relative;
}

.img_text img{
    width: 349px;
    height: 580px;
    margin-bottom: -4px;
}

.img_text div p{
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
}

/* Change Your Habits */
#Service{
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Service p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.service{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-heading{
    text-align: center;
    width: 620px;
    margin-bottom: 58px;
}

.service-heading>p{
    line-height: 24px;
}

.service-heading>h1{
    color: white;
    margin-bottom: 14px;
    font-size: 48px;
    font-weight: 900;
}

.service-container{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.service-container img{
    border: 5px solid rgb(34, 34, 34);
    border-radius: 50%;
}

.service-container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 231px;
}

.service-container p{
    line-height: 18px;
    text-align: center;
}

.service-container div h3{
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 18px;
    color: white;
}

.join{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 165px;
    width: 1060px;
    height: 371px;
    margin-bottom: 100px;
}

.join .text{
    margin-left: 54px;
    width: 410px;
}

.join .text h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.join .text p{
    margin-bottom: 34px;
    line-height: 24px;
}

.join .text button{
    color: white;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    margin-bottom: 30px;
    border: none;
    font-size: 18px;
    width: 224px;
    font-weight: 600;
}

.join .text button:hover{
    cursor: pointer;
}


.join .img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 32px;
    background-size: cover;
    background-position: center;
}

/* Responsive Media for Mobile*/

@media screen and (max-width: 576px){
    /* navbar section */
    
    nav li{
        display: none;
    }
    
    .nav-logo>h1{
        font-size: 36px;
    }

    nav{
        gap: 197px;
    }

    .nav-options{
        display: none;
    }

    /* header section */
    .home{
        flex-direction: column;
        gap: 48px;
        margin-left: 0px;
    }

    #home{
        align-items: center;
    }

    .btn{
        width: 169px;
    }

    .head{
        width: 352px;
        margin-bottom: 0;
        margin-top: 51px;
    }

    .head h1{
        width: 286px;
        font-size: 36px;
    }

    .head p{
        width: 274px;
    }

    #box-1{
        top: 48px;
        left: 194px;
        width: 145.91px;
        height: 74.09px;
    }
    #box-2{
        top: 271px;
        left: 12px;
        width: 155.74px;
        height: 72.58px;
    }

    #box-1 p{
        letter-spacing: 0.76px;
        font-size: 9.83px;
    }

    #box-1 h1{
        font-size: 30.24px;
        letter-spacing: 0.76px;
    }


    #box-2 h1{
        font-size: 18.14px;
        letter-spacing: 0.23px;
    }

    #box-2 p{
        letter-spacing: 0.38px;
        font-size: 12px;
    }

    #box-2 > div div:first-child{
        width: 30.24px;
        height: 30.24px;
    }

    #box-2> div{
        margin-top: 21px;
        margin-left: 17px;
        margin-bottom: 21px;
    }
    #box-1> div{
        margin-top: 12px;
        margin-left: 18px;
        margin-bottom: 12px;
    }



}